*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:
Arial, Helvetica, sans-serif;

background:#050816;

color:white;

line-height:1.6;

}



header{

padding:20px 10%;

background:#080d20;

}



nav{

display:flex;

justify-content:space-between;

align-items:center;

}



nav ul{

display:flex;

gap:30px;

list-style:none;

}



nav a{

color:white;

text-decoration:none;

}



.hero{

min-height:90vh;

display:flex;

justify-content:space-around;

align-items:center;

padding:50px 10%;

}



.hero h1{

font-size:55px;

background:
linear-gradient(90deg,#00ffff,#6c63ff);

-webkit-background-clip:text;

color:transparent;

}



.hero p{

font-size:22px;

margin:30px 0;

max-width:600px;

}



.button{

display:inline-block;

padding:12px 25px;

background:#00ffff;

color:black;

border-radius:30px;

text-decoration:none;

margin-right:15px;

}



.secondary{

background:white;

}



.network-animation{

display:flex;

flex-direction:column;

align-items:center;

}



.node{

padding:20px;

border-radius:20px;

background:#111936;

border:1px solid #00ffff;

width:220px;

text-align:center;

box-shadow:
0 0 20px #00ffff;

}



.line{

height:50px;

width:3px;

background:#00ffff;

}





section{

padding:80px 10%;

}



section h2{

font-size:40px;

margin-bottom:30px;

}




.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}



.card{

background:#111936;

padding:30px;

border-radius:20px;

border:1px solid #222;

}



.card:hover{

transform:translateY(-10px);

border-color:#00ffff;

}



footer{

text-align:center;

padding:40px;

background:#080d20;

}
